* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  color: #444444;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    to top left,
    rgba(243, 167, 79, 1) 0%,
    rgb(249, 101, 2) 100%,
    rgb(236, 100, 37) 0%
  );
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background: rgba(255, 255, 255, 0.247);
  border-radius: 15px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  display: flex;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 80px;
  flex-direction: column;
  font-size: 8rem;
  transition: all 0.75s;
  border-radius: 15px;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.name {
  position: relative;
  font-size: 45%;
  height: 20%;
}

.score {
  position: relative;
  font-size: 100%;
  height: 60%;
  color: rgb(255, 102, 0);
}

.current {
  font-size: 40%;
  height: 30%;
  width: 60%;
  background-color: rgb(247, 135, 7);
  padding: 10%;
  border-radius: 10px;
}

.current :nth-child(1) {
  font-size: 80%;
  position: relative;
  left: 10%;
}

.current :nth-child(2) {
  position: relative;
  left: 45%;
}

.player1 .name {
  font-weight: 900;
}

.button {
  position: absolute;
  font-size: 1.8rem;
  background-color: #ffffff99;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
}

.new_game {
  top: 5rem;
  width: 18rem;
  left: 41%;
}

.roll {
  top: 40rem;
  width: 17rem;
  left: 42%;
}

.hold {
  top: 45rem;
  width: 12rem;
  left: 44.5%;
}

.button::first-letter {
  margin-right: 10px;
  margin-left: 5px;
}

.button:active {
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}

.hidden {
  display: none;
}

/* dice */
.dice {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  left: 45%;
  top: 30%;
  box-shadow: 0.6rem 0.6rem 6rem rgba(0, 0, 0, 0.25);
}

@keyframes sizeup {
  from {
    font-size: 10px;
    margin-left: 10%;
  }

  to {
    font-size: 45px;
    margin-left: 0%;
  }
}

.winner0 {
  position: absolute;
  font-size: 45px;
  top: 44%;
  left: 12%;
  animation-duration: 3s;
  animation-name: sizeup;
  color: white;
}

.winner1 {
  position: absolute;
  font-size: 45px;
  top: 44%;
  left: 62%;
  animation-duration: 3s;
  animation-name: sizeup;
  color: white;
}

.playerwin {
  background-color: rgba(0, 0, 0, 0.781);
}

.created {
  font-size: 20px;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 2%;
  bottom: 3%;
}

@media only screen and (max-width: 420px) {
  main {
    width: 38rem;
    height: 30rem;
  }

  .player {
    width: 50%;
    font-size: 3rem;
    height: 100%;
    padding: 30px;
  }

  .current {
    height: 20%;
  }

  .created {
    top: 10%;
    left: 40%;
  }

  .button {
    font-size: 1.2rem;
    padding: 5px;
    width: 12rem;
  }

  .new_game {
    left: 35%;
  }

  .roll {
    top: 65%;
    left: 35%;
  }

  .hold {
    width: 8rem;
    top: 80%;
    left: 40%;
  }

  .dice {
    width: 50px;
    height: 50px;
    top: 35%;
    left: 45%;
  }

  .winner0 {
    position: absolute;
    font-size: 15px;
    top: 44%;
    left: 15%;
    animation-duration: 3s;
    animation-name: sizeup;
    color: white;
  }

  .winner1 {
    position: absolute;
    font-size: 15px;
    top: 44%;
    left: 65%;
    animation-duration: 3s;
    animation-name: sizeup;
    color: white;
  }

  @keyframes sizeup {
    from {
      font-size: 5px;
      margin-left: 2%;
    }

    to {
      font-size: 15px;
      margin-left: 0%;
    }
  }
}
